{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <h1>{{ 'title.category_list'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('category_create') }}" class="btn btn-success" title="{{ 'name.category_create'|trans }}">
        {{ 'name.category_create'|trans }}
    </a>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.name') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ url('ad_index', {'filters.category_id' : category.id}) }}" class="btn btn-primary" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('category_edit', {id: category.id}) }}" class="btn btn-primary" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a href="{{ path('category_delete', {id: category.id}) }}" class="btn btn-danger" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_category_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
